*{
    margin: 0;
    padding: 0;
}
body{
    background: #39CCCC;
}

.container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 .bodyContent{
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
 }
 
 .bodyContent>h1{
     font-family: 'Pacifico', cursive;
     font-weight:lighter;
     font-size: 30px;
 }

 .header{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 25px;
}

@media only screen and (max-width: 700px){
    .bodyContent>h1{
        font-size: 27px;
    }
}

@media only screen and (max-width: 500px){
    .bodyContent>h1{
        font-size: 24px;
    }
}
 
/*design for navigation*/
.navbar{
    background-color: #111;
    margin: 5px;
    padding: 10px;
    opacity: 0.9;
    text-align: center;
}

.navbar>ul li{
    display: inline;
    text-decoration: none;
    list-style: none;
}

.navbar>ul>li a{
    color: #ccc;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 5px;
    -moz-border-radius: 0 30px 30px 0;
    -webkit-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
}

.navbar>ul>li a:hover{
    background: #39CCCC;
    color: black;
    font-size: 20px;
    transition: .3s;
    text-decoration: none;
}

@media only screen and (max-width: 700px){
    .navbar{
        margin: 0;
        padding: 5px;
    }
    
    .navbar>ul>li a{
        font-size: 15px;
        padding: 10px 15px 10px 15px;
        margin: 5px 5px 5x 5px;
    }
    
    .navbar>ul>li a:hover{
        font-size: 17px;
    }
}

@media only screen and (max-width: 500px){
    .navbar{
        margin: 0;
        padding: 5px;
    }
    
    .navbar>ul>li a{
        font-size: 13px;
        padding: 5px 7px 5px 7px;
        margin: 5px 5px 5x 5px;
    }
    
    .navbar>ul>li a:hover{
        font-size: 15px;
    }
}

