*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100%;
    background: #39CCCC;
}
.navbar{
    height: 100%;
    position: fixed;
    background-color: #111;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    opacity: 0.9;
    transition: 0.5s;
    width: 0px; /*navigation bar will show up after clicking button*/
}

.navbar ul{
    list-style: none;
}

.navbar ul>li>a{
    font-family: 'Pacifico', cursive;
    display: block;
    text-decoration: none;
    padding: 20px 30px 20px 30px;
    margin: 10px 10px 10px 10px;
    font-size: 18px;
    color: #ccc;
    -moz-border-radius: 0 30px 30px 0;
    -webkit-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    
}

.navbar ul>li>a:hover{
    background: #39CCCC;
    color: black;
    font-size: 20px;
    transition: .3s;
}

.navbar ul>li:nth-child(1){
    float: right;
    display: block;
}

.navbar ul>li:nth-child(2){
   padding: 50px 0 0 0;
}

#closeButton:hover{
    background: #111;
    color: white;
    font-size: 20px;
    transition: .5s;
}

#openSidebarButton{
    font-size: 40px;
    margin: 20px;
    color: #111;
    text-decoration: none;
}

.container{
   width: 100%;
   height: 100%;
}

.bodyContent{
    transition: margin-left .5s;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.bodyContent>h1{
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

.bodyContent>ul li{
    list-style: none;
    text-decoration: none;
    display: inline;
}

.bodyContent>ul>li a{
    color: black;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.bodyContent>ul>li a:hover{
    text-decoration: none;
}